name: 'release'

on:
  pull_request:
  push:
    branches:
      - master
  release:
    types: [created]

jobs:
  test-alpine:
    runs-on: ubuntu-latest
    container: jonlauridsen/node-nexe:10-alpine
    steps:
      - uses: actions/checkout@master
      - run: npm ci
      - run: EXPECTED_FILENAME=fpie2-alpine EXPECTED_OS=Alpine NEXE_TEMP=/opt/.nexe NEXE_BUILD=true npm test
      - run: NEXE_TEMP=/opt/.nexe npm run compile:build -- --output dist/fpie2-alpine
      - uses: actions/upload-artifact@master
        with:
          name: fpie2-alpine
          path: dist/fpie2-alpine
  test-amazonlinux:
    runs-on: ubuntu-latest
    container: amazonlinux
    steps:
      - run: yum install -y curl gzip make tar
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '12.16.2'
      - run: npm ci
      - run: EXPECTED_FILENAME=fpie2-ubuntu EXPECTED_OS="Amazon Linux" npm test
      - run: npm run compile -- --output dist/fpie2-ubuntu
      # No uploading for amazonlinux, it's ubuntu compatible
  test-mint:
    runs-on: ubuntu-latest
    container: linuxmintd/mint19.2-amd64
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '12.16.2'
      - run: npm ci
      - run: EXPECTED_FILENAME=fpie2-ubuntu EXPECTED_OS="Linux Mint" npm test
      - run: npm run compile -- --output dist/fpie2-ubuntu
      # No uploading for mint, it's ubuntu compatible
  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '12.16.2'
      - run: npm ci
      - run: EXPECTED_FILENAME=fpie2-macos EXPECTED_OS=Mac npm test
      - run: npm run compile -- --output dist/fpie2-macos
      - uses: actions/upload-artifact@master
        with:
          name: fpie2-macos
          path: dist/fpie2-macos
  test-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '12.16.2'
      - run: npm ci
      - run: EXPECTED_FILENAME=fpie2-ubuntu EXPECTED_OS=Ubuntu npm test
      - run: npm run compile -- --output dist/fpie2-ubuntu
      - uses: actions/upload-artifact@master
        with:
          name: fpie2-ubuntu
          path: dist/fpie2-ubuntu
  upload:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    needs:
      - test-alpine
      - test-macos
      - test-ubuntu
    steps:
      - uses: actions/download-artifact@master
        with:
          name: fpie2-alpine
          path: .
      - uses: actions/download-artifact@master
        with:
          name: fpie2-macos
          path: .
      - uses: actions/download-artifact@master
        with:
          name: fpie2-ubuntu
          path: .
      - run: ls
      - uses: skx/github-action-publish-binaries@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: '*'
